@using app.utils.Providers;
@inject IResponseProvider provider

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    var remoteString = provider.HasValue? provider.GetBody(): "";
}
<div>
@Html.Raw(remoteString)
</div>
